<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Список задач</h4>
    </div>
    <div class="card-body table-responsive">

        <table [dataSource]="dataSource" mat-table matSort>

            <!--  цвет приоритета  -->
            <ng-container matColumnDef="color">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let task" [style.background-color]="getPriorityColor(task)" class="col-color"
                    mat-cell></td>
            </ng-container>


            <!-- нумерация-->
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let index = index;" class="col-id" mat-cell>

                    {{index + 1}}

                </td>
            </ng-container>


            <!-- название задачи-->
            <ng-container matColumnDef="title">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Название</th>
                <td *matCellDef="let task" [class.completed]="task.completed" class="col-title" mat-cell>

                    {{task.title}}

                </td>
            </ng-container>

            <!--дата выполнения-->
            <ng-container matColumnDef="date">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Срок</th>
                <td *matCellDef="let task" [ngClass]="{'completed': task.completed}"
                    class="col-date"
                    mat-cell>

                    {{task.date ? (task.date | date: "medium") : "Без даты"}}

                </td>
            </ng-container>

            <!--приоритет-->
            <ng-container matColumnDef="priority">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Приоритет</th>
                <td *matCellDef="let task" class="col-priority"
                    [ngClass]="{'completed': task.completed}"
                    mat-cell
                >

                    {{task.priority ? task.priority.title : "Без приоритета"}}


                </td>
            </ng-container>

            переписать урок - указать, что это структурные директивы - изменяют поведение стандартного тега
            вместе с атрибутом дают эффект -

            <!--категория-->
            <ng-container matColumnDef="category">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Категория</th>
                <td *matCellDef="let task" class="col-category"
                    [ngClass]="{'completed': task.completed}"
                    mat-cell
                >

                    {{task.category ? task.category.title : "Без категории"}}

                </td>
            </ng-container>


            <!--  заголовок таблицы-->
            <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>

            <!--  строки таблицы - набор строк из тегов td (порядок указывается в переменной displayedColumns) -->
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>


    </div>
</div>
